In [1]:
import pandas as pd

Si los rendimientos anuales pasados de una inversión fueron reportados como 20% al final del primer año, -2% al final del segundo año y 5% al final del tercer año, ¿cuál fue el rendimiento total en los tres años de la inversión?

In [2]:
tabla = pd.DataFrame(columns=['ret', '1+ret', 'cumm'], index=range(1,4))
tabla['ret'] = [0.2, -0.02, 0.05]
tabla['1+ret'] = 1 + tabla['ret']
tabla['cumm'] = tabla['1+ret'].cumprod()

In [3]:
tabla

    ret  1+ret    cumm
1  0.20   1.20  1.2000
2 -0.02   0.98  1.1760
3  0.05   1.05  1.2348

In [4]:
tabla.iloc[-1,-1] - 1

0.2347999999999999

Suponga que las probabilidades de recesión, normalidad y expansión en la economía son de 40%, 30%, y 30% respectivamente. Además, suponga que va a tener un rendimiento anual en sus inversiones del -10% en caso de recesión, 10% en caso de normalidad y 20% en caso de expansión. ¿Cuál sería el rendimiento esperado anual de sus inversiones?

In [5]:
tabla = pd.DataFrame(columns=['prob', 'ret'], index=['recesion', 'normal', 'expansion'])
tabla['prob'] = [0.4, 0.3, 0.3]
tabla['ret'] = [-0.1, 0.1, 0.2]
tabla

           prob  ret
recesion    0.4 -0.1
normal      0.3  0.1
expansion   0.3  0.2

In [7]:
Er = (tabla['prob']*tabla['ret']).sum()
Er

0.04999999999999999

In [8]:
sr2 = (tabla['prob']*(tabla['ret']-Er)**2).sum()
sr = (sr2)**0.5
sr

0.1284523257866513