In [2]:
import pandas as pd

In [3]:
tabla = pd.DataFrame(data={'ret':[-0.1, -0.2, 0.3, 0.2, 0.15]})
tabla

    ret
0 -0.10
1 -0.20
2  0.30
3  0.20
4  0.15

In [5]:
(1+tabla['ret']).prod()**(1/5) - 1

0.05252152674847621

In [6]:
tabla['ret'].mean()

0.06999999999999999

In [7]:
tabla['ret'].std()

0.21095023109728986

In [8]:
tabla2 = pd.DataFrame(data={'ret':[-0.1, 0.2, 0.3]})
tabla2

   ret
0 -0.1
1  0.2
2  0.3

In [9]:
(1+tabla2['ret']).prod()**(1/3) - 1

0.1197533470451746

In [10]:
tabla2['ret'].mean()

0.13333333333333333

In [11]:
tabla3 = pd.DataFrame(data={'prob':[0.3, 0.4, 0.3],
                            'ret':[0.1, 0.05, 0.3]
                           })

In [13]:
Er = (tabla3['prob'] * tabla3['ret']).sum()
Er

0.14

In [14]:
sr = (tabla3['prob'] * (tabla3['ret'] - Er)**2).sum()**(0.5)
sr

0.10677078252031309